<app-current-month></app-current-month>

<div class="container">
  <div
    *ngFor="let day of dateService.weekKeys"
    class="nameDay"
  >
    <div class="date">{{day}}</div>
  </div>
  <div
    *ngFor="let day of dateService.month; index as i"
    class="day"
    [class.activeDay]="
   dateService.activeDate.value.format('YYYYMMDD') ===
   dateService.date.value.format('YYYYMM') + (day > 9 ? day : ('0' + day))"
    [class.currentDay]="dateService.currentDate.value.format('YYYYMMDD') ===
   dateService.date.value.format('YYYYMM') + (day > 9 ? day : ('0' + day))"

    (click)="changeActiveDay(day)"
  >
    <div
      class="date"
      *ngIf="!!day"
      [class.weekend]="(i % 7 === 0) || ((i+1) % 7 === 0)"

    >
      <div
        *ngIf="!!notesListService.notesList[dateService.date.value.format('YYYYMM') + (day > 9 ? day : ('0' + day))] &&
      notesListService.notesList[dateService.date.value.format('YYYYMM') + (day > 9 ? day : ('0' + day))].length"
        [class.hasNote]="!!notesListService.notesList[dateService.date.value.format('YYYYMM') + (day > 9 ? day : ('0' + day))]">
        {{notesListService.notesList[dateService.date.value.format('YYYYMM') + (day > 9 ? day : ('0' + day))].length}}
      </div>
      {{day}}
    </div>
  </div>

</div>

