<div class="container">
  <p class="title">NOTES</p>
  Organizer: <b>{{dateService.activeDate.value.format('Do MMMM YYYY')}}</b>
  <hr>
  <form [formGroup]="checkoutForm" (ngSubmit)="addNewNote()">
      Create new note
      <input
        id="text"
        type="text"
        formControlName="text"
        placeholder="Add text"
      >
    <button type="submit">Add note</button>
  </form>
  <mat-progress-bar *ngIf="API.isFetching" class="loadingBar" mode="buffer"></mat-progress-bar>

  <div *ngIf="API.initialIsFetching">loading...</div>

  <ul class="form"
      *ngIf="!API.initialIsFetching && notesListService.tasksList[(dateService.activeDate.value | moment: 'YYYYMMDD')] &&
      ((dateService.activeDate.value | moment: 'YYYYMMDD') | countNumberOfTasks)">
    <li
      *ngFor="let note of (notesListService.tasksList[(dateService.activeDate.value | moment: 'YYYYMMDD')] | keyvalue); index as i"
    >
      {{i + 1}}. {{note.value.text}}
      <button class="deleteButton" (click)="deleteNote(note.key)">x</button>
    </li>
  </ul>
  <p
    class="form"
    *ngIf="!API.initialIsFetching && !notesListService.tasksList[(dateService.activeDate.value | moment: 'YYYYMMDD')] ||
   !notesListService.objectKeys(notesListService.tasksList[(dateService.activeDate.value | moment: 'YYYYMMDD')]).length">
    There is no one note yet
  </p>
</div>
